{% extends 'base.html.twig' %}

{% block title %}ajout figure {% endblock %}

{% block body %}

<div class="container">
  <div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>
</div>

{{ form_start(form) }}

{{ form_row(form.name) }}
{{ form_row(form.description) }}
{{ form_row(form.groupes) }}
{{ form_row(form.images) }}

    <h3>ajout video</h3>
    <ul class="video"
     data-index="{{ form.video|length > 0 ? form.video|last.vars.name + 1 : 0 }}"
     data-prototype="{{ form_widget(form.video.vars.prototype)|e('html_attr') }}">
        {% for video in form.video %}
            <li>{{ form_row(video.url) }}</li>
        {% endfor %}
    </ul>
    <button type="button" class="add_item_link" data-collection-holder-class="video">Add a video</button>
    
{{form_end(form)}}

</div>

{% endblock %}
