{% extends 'base.html.twig' %}

{% block title %}
	Modifier figure
{% endblock %}

{% block body %}

	<div class="container">

		<div class="example-wrapper">
			<h1>Hello ! ✅</h1>
		</div>

		{{ form_start(form) }}

		{{ form_row(form.name) }}
		{{ form_row(form.description) }}
		{{ form_row(form.groupes) }}


		<h3>Block images</h3>

		<div class="row text-center text-lg-start">

			{% for image in triks.image %}
				<div class="col-lg-3 col-md-4 col-6">
					<a href="#" class="d-block mb-4 h-100">
						<img style="height:240px" class="img-fluid img-thumbnail" src="{{asset('uploads/triks/' ~ image.filename )}}" alt="">
					</a>
				</div>
			{% endfor %}
		</div>

		<small>* ajout d'une ou plusieurs images
		</small>
		{# {{ form_row(form.images) }} #}

		<h3>ajout video</h3>
		<ul class="video" data-index="{{ form.video|length > 0 ? form.video|last.vars.name + 1 : 0 }}" data-prototype="{{ form_widget(form.video.vars.prototype)|e('html_attr') }}">

			{% for video in triks.video %}
				{{video.url|raw}}
			{% endfor %}
			{% for video in form.video %}

			</iframe>
			<li>{{ form_row(video.url) }}</li>
		{% endfor %}
	</ul>
	<button type="button" class="add_item_link" data-collection-holder-class="video">Add a video</button>

	{{form_end(form)}}

</div>{% endblock %}
