{% extends 'base.html.twig' %}


{% block title %}Accueil snowTriks
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('css/home.css')}}">
{% endblock %}

{% block body %}

	<button type="button" class="btn btn-dark btn-floating btn-lg" id="btn-back-to-top">
		<i class="fas fa-arrow-up"></i>
	</button>
	<button type="button" class="btn btn-dark btn-floating btn-lg" id="btn-go-down">
		<i class="fas fa-arrow-down"></i>
	</button>

	<div id="bg-home" class="bg-home bg-opacity-25">
		<div class="container h-100">
			{% for label, messages in app.flashes %}
				{% for message in messages %}
					<div class="alert alert-{{label}} text-center" role="alert">
						{{ message }}
					</div>
				{% endfor %}
			{% endfor %}
			<div class="d-flex justify-content-center align-items-center h-100">
				<h1 id="titre" class="fw-bolder">
					SnowTriks
				</h1>
			</div>

		</div>
	</div>

	<div class="container mb-5">
		<div class="row pt-5">
			{% for trik in triks %}
				<div class="col-md-6 col-lg-4 block  mt-5">
					<div class="card border-0 transform-on-hover">
						<a
							class="lightbox" href="{{path('app_trik_detail',{slug: trik.slug}) }}">
							{# <img src="images/F4.jpg" class="card-img-top"> #}
							{% if  trik.image.0.filename is defined  %}
								<img src="{{asset('uploads/triks/' ~ trik.image.0.filename )}}" alt="" class=" card-img-top">
							{% else %}
								<img src="{{asset('uploads/triks/defaultTriks.jpg' )}}" alt="" class="card-img-top">
							{% endif %}
						</a>
						<div class="card-body text-center">
							<a class="lightbox text-decoration-none text-dark" href="{{path('app_trik_detail',{slug: trik.slug}) }}">
								<h4>{{trik.name}}</h4>
							</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
		<div class="d-flex justify-content-center mt-5 mb-5">
			<button id="load" class="btn btn-dark">
				Voir Plus
			</button>
		</div>
	</div>

	{% block javascript %}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="{{asset('js/home.js')}}"></script>
	{% endblock %}
{% endblock %}
