<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>SnowTrik oublie mot de passe!</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="{{asset('css/reseTPassword.css')}}">
	</head>

	<body>
		<div id="corp" class="d-flex align-items-center">
			<div class="container ">
				{% for label, messages in app.flashes %}
					{% for message in messages %}
						<div class="alert alert-{{label}} text-center" role="alert">
							{{ message }}
						</div>
					{% endfor %}
				{% endfor %}
				<div class="d-flex justify-content-center">
					<div class=" col-lg-5  col-md-9">
						<div class="card o-hidden border-0 shadow-lg my-5">
							<div class="card-body bg-dark text-white p-0 d-flex justify-content-center align-itels-center">
								<div class="col-lg-8">
									<div class="p-3">
										<div class="text-center">
											<h1 class="h2 text-gray-900 mb-3 mt-3">
												Mot de passe oublié
											</h1>
										</div>
										<hr>
										{{ form_start(form) }}
										<div class="form-group mb-3">
											{{ form_widget(form.email,{'attr': {'class': 'form-control','placeholder': 'votre email'}}) }}
										</div>

										<div class="d-flex justify-content-center mb-3 mt-3">
											<button type="submit" class=" btn btn btn-outline-light ">
												Valider
											</button>
										</div>
										{{ form_end(form) }}

										<div class="text-center mt-3 mb-2">
											<a class="small text-white" href="{{path('app_login')}}">Retour</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
