{% extends 'base.html.twig' %}

{% block title %}snowtriks - presentation {% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('css/detailTrik.css')}}">
{% endblock %}

{% block body %}
 	{% include "includes/modalTrikDelete.html.twig" %}
	<div class="container">
		<section id="section1" {% if trik.image.0.filename is defined %} style="background-image: url({{asset('uploads/triks/' ~ trik.image.0.filename )}});" {% else %} style="background-image: url( {{asset('uploads/triks/defaultTriks.jpg') }});" {% endif %}>
			<div class=" d-flex justify-content-end me-5 mt-3">
				{% if is_granted('ROLE_USER') %}
					<a class="btn btn-outline-dark me-2" href="{{ path('admin_update_triks',{slug: trik.slug}) }}">
						<i class="fas fa-pencil-alt"></i>
					</a>
					{% if trik.creator == app.user %}

						<a class="btn btn-outline-danger" id="btnTrikDelete" href="{{ path('delete_trik',{id:trik.id}) }}" data-bs-toggle="modal" data-bs-target="#exampleModal">
							<i class="fa-solid fa-trash-can"></i>
						</a>
					{% endif %}
				{% endif %}
			</div>
			<div class="h-100 d-flex justify-content-center align-items-center">
			    <div class="bg bg-dark ps-3 pe-3 rounded">
					<h1 id="titre" class="text-center text-white fw-bolder" >
						{{trik.name|capitalize}}
					</h1>
				</div>
			</div>
		</section>

		<section class="d-flex justify-content-center pt-5 ">
			<div class="row">
				<div class="col-xl-6 col-sm-12 mb-5">
					<div class="row">
						{% for image in trik.image %}
							{% if loop.index > 1 %}
								<div class="col-6 col-sm-4">
									<img class="img-fluid img-thumbnail " src="{{asset('uploads/triks/' ~ image.filename )}}" alt="">
								</div>
							{% endif %}
						{% endfor %}
					</div>
				</div>
				<div class="col-xl-6 col-sm-12 ">
					<div class="row ">
						{% for video in trik.video %}
							<div class="col-12 col-sm-6 mb-2 ">
								<iframe src="{{video.url}}" frameborder="0" allowfullscreen></iframe>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</section>

		<section class=" d-flex justify-content-center ">

			<div class="col-12 col-sm-10">
				<p class=" text-center p-4">
					{{trik.description}}
				</p>
			</div>

		</section>

		<div class="text-sm-center">
			Création:
			<span class="badge text-bg-dark ps-3 pe-3 me-5" href="#!">
				{{ trik.createdAt|date("d/m/Y", "Europe/Paris") }}
			</span>
			{% if trik.groupes is defined and trik.groupes is not empty%}
				Catégorie:
				<span class="badge text-bg-dark ps-3 pe-3 me-5" href="#!">
					{{trik.groupes.name}}
				</span>
			{% endif %}
			{% if trik.updatedAt is not empty %}
				Modification:
				<span class="badge text-bg-dark ps-3 pe-3 me-5" href="#!">
					{{ trik.updatedAt|date("d/m/Y", "Europe/Paris") }}
				</span>
			{% endif %}
		</div>

		<section class="gradient-custom">
			<div class="container my-5 py-5">
				<div class="row d-flex justify-content-center">
					<div class="col-md-12 col-lg-10 col-xl-8">
						{% if is_granted('ROLE_USER') %}
							<h4 class="text-center ">Laisser un commentaire</h4>
							<div class="card-footer py-3 border-0 mb-5 p-3" id="form-emplacement">
								{{ form_start(commentForm ,{'attr': {'id': 'comment-form'}}) }}
								<div class="d-flex flex-start w-100">
									<img class="rounded-circle shadow-1-strong me-3" src="{{asset('uploads/user/' ~ app.user.avatar )}}" alt="avatar" width="40" height="40"/>
									<div class="form-outline w-100">
										{{ form_label(commentForm.content) }}
										{{ form_widget(commentForm.content,{'attr': {'class': 'form-control'}}
										) }}
										{{ form_row(commentForm.parent) }}
									</div>
								</div>
								<div class="float-end mt-2 pt-1">
									<button type="submit" class="btn btn-outline-dark btn-sm">poster</button>
								</div>
								{{ form_end(commentForm) }}
							</div>
						{% endif %}
						<div class="card border-start-0 border-top-3 border-end-0 border-bottom-3 border border-dark">
							<div class="card-body p-5">
								<h4 class="text-center mb-4 pb-2">Avis de la communauté
								</h4>
								<a id="annuler-reponse" class="small text-danger pe-2" style="cursor: pointer;">annuler</a>
								<div class="row">
									<div class="col">
										{% for comment in trik.comments %}
											{% if comment.parent is null %}
												<div class="d-flex flex-start pt-4">
													<img class="rounded-circle shadow-1-strong me-3" src="{{asset('uploads/user/' ~ comment.creator.avatar)}}" alt="avatar" width="65" height="65"/>
													<div class="flex-grow-1 flex-shrink-1">
														<div>
															<div id="comment-{{comment.id}}" class="d-flex justify-content-between align-items-center">
																<p class="mb-1">
																	{{comment.creator.username|capitalize}}
																	<span class="small">- publié le
																		{{ comment.createdAt|date("d/m/Y", "Europe/Paris") }}</span>
																</p>
																{% if is_granted('ROLE_USER') %}
																	<div id="annuler-position-{{comment.id}}"></div>
																	<a href="#!">
																		<i class="fas fa-reply fa-xs"></i>
																		<span data-id="{{comment.id}}" class="small  reply">
																			repondre</span>
																	</a>
																{% endif %}
															</div>
															<p class="small mb-0">
																{{comment.content}}
															</p>
														</div>
														{% for response in comment.responses %}
															<div class="d-flex flex-start mt-4 bg-light">
																<a class="me-3" href="#">
																	<img class="rounded-circle shadow-1-strong" src="{{asset('uploads/user/' ~ response.creator.avatar)}}" alt="avatar" width="45" height="45"/>
																</a>
																<div class="flex-grow-1 flex-shrink-1">
																	<div>
																		<div class="d-flex justify-content-between align-items-center">
																			<p class="mb-1">
																				{{response.creator.username|capitalize}}
																				<span class="small">- publié le
																					{{ response.createdAt|date("d/m/Y", "Europe/Paris") }}</span>
																			</p>
																		</div>
																		<p class="small mb-0">
																			{{response.content}}
																		</p>
																	</div>
																</div>
															</div>
														{% endfor %}
													</div>
												</div>
											{% endif %}
										{% endfor %}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="{{asset('js/detailTrik.js')}}"></script>
	<script src="{{asset('js/admin/trik.js')}}"></script>
{% endblock %}
